body{
    font-family: Arial, sans-serif ;
    background-color: #f4f4f4;;
}
.login-container{
    width: 300px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
label{
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
}
input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius:5px ;
}
input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius:5px ;
}
.login-button{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.login-button:hover{
    background-color:  #0056b3;
}
.forgot-password{
    display: block;
    text-align: center;
    margin-top: 10px;

}
p{
    text-align: center;
    margin-top: 20px;
}
