.train-details-container{
    margin: 0 auto;
    width: 600px;
    padding: 20px;
}

.search-form{
 margin-bottom: 20px;
}

.search-form label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.search-form input[type="text"], .search-form input[type="date"]{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.search-button{
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.tarin-result{
    display: flex;
    flex-direction: column;
   
}
.tarin-card{
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius:5px ;

}
.select-train{
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.select-train:hover{
    background-color: #0056b3;;
}